.container {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
}

.description {
	font-size: 1.6rem;
	text-align: center;
}
