.container {
	background-color: papayawhip;
	display: flex;
	flex-flow: column nowrap;
	height: 100%;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
}

.description {
	font-size: 1.6rem;
	text-align: center;
}
