@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
	box-sizing: border-box;
	font-size: 62.5%;
	margin: 0 auto;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	--shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	--radius: 0.5rem;
	color: var(--color-secondary);
	--color-primary: #845ec2;
	--color-secondary: #4b4453;
	--color-tertiary: #b0a8b9;
	--color-accent: #c34a36;
	--color-highlight: #ff8066;
	--color-primary-light: #a084dc;
	--color-primary-dark: #6a3ea1;
	--color-secondary-light: #635d6c;
	--color-secondary-dark: #332e3a;
	--color-accent-light: #d76b5a;
	--color-accent-dark: #a13728;
	--color-neutral-light: #f5f5f5;
	--color-neutral: #e0e0e0;
	--color-neutral-dark: #9e9e9e;
	--color-success: #4caf50;
	--color-warning: #ffc107;
	--color-error: #f44336;
}
