button {
	width: auto;
	border: none;
	border-radius: var(--radius);
	cursor: pointer;
	font-size: 1.6rem;
	font-weight: bold;
	color: white;
	background-color: var(--color-primary);
	padding: var(--standard-button-padding);
	margin: var(--standard-button-margin);
}

.submitTestText {
	width: 100%;
}

.submit:disabled {
	background-color: var(--color-primary-light);
	color: var(--color-neutral-light);
}

.copy {
	background-color: var(--color-warning);
	width: 45%;
}

.clear {
	background-color: var(--color-accent-light);
	width: 45%;
}

.submit {
	background-color: var(--color-primary);
	width: 100%;
}

.copy,
.clear {
}

@media screen and (min-width: 768px) and (orientation: landscape) {
	button {
		width: 100%;
		padding: 3rem;
		font-size: 3.6rem;
		margin: 1rem 0;
	}
}

@media only screen and (max-width: 767px) {
	/* CSS rules for tablet portrait */
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
	/* CSS rules for mobile landscape */
}

@media only screen and (max-width: 480px) {
	/* CSS rules for mobile portrait */
}
