button {
	cursor: pointer;
	font-size: 1.6rem;
	font-weight: bold;
	color: white;
	background-color: var(--color-primary);
	padding: var(--button-padding);
	margin: var(--button-margin);
	min-width: 13rem;
}

.submitTestText {
	width: 100%;
}

.submit:disabled {
	background-color: var(--color-primary-light);
	color: var(--color-neutral-light);
}

.copy {
	background-color: var(--color-warning);
}

.clear {
	background-color: var(--color-accent-light);
}

.submit {
	background-color: var(--color-primary);
	width: 100%;
}

.copy,
.clear {
	width: 45%;
}

@media screen and (min-width: 700px) {
	.copy,
	.clear {
		width: 100%;
	}
}

@media screen and (max-width: 360px) {
	.copy,
	.clear {
		width: 100%;
	}
}
