.modeSelector {
	align-items: center;
	justify-content: space-around;
	/* background-color: lightgreen; */
}

.selector {
	flex-flow: row nowrap;
}

.modeSelector label {
	cursor: pointer;
	font-weight: 500;
}

.modeSelector input[type='radio'] {
	appearance: none;
	width: 2rem;
	height: 2rem;
	border: 0.3rem solid var(--color-primary);
	border-radius: 50%;
	outline: none;
	background-color: white;
	position: relative;
	padding: var(--spacing-xs);
}

.modeSelector input[type='radio']:checked::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 0.9rem;
	height: 0.9rem;
	border-radius: 50%;
	background-color: var(--color-primary-light);
}
