.textarea {
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 0.5rem;
	font-size: 1.6rem;
	line-height: 1.5;
	height: 100%;
	padding: 1rem;
	min-height: 20vh;
}

@media screen and (min-width: 768px) and (orientation: landscape) {
	.textarea {
		font-size: 3.6rem;
		min-height: 30vh;
	}
}

@media only screen and (max-width: 767px) {
	/* CSS rules for tablet portrait */
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
	/* CSS rules for mobile landscape */
}

@media only screen and (max-width: 480px) {
	/* CSS rules for mobile portrait */
}
