.textarea {
	width: 100%;
	border: 0.1rem solid #ccc;
	border-radius: var(--radius);
	font-size: 1.6rem;
	line-height: 1.5;
	height: auto;
	padding: var(--standard-container-padding);
	text-align: center;
}

@media screen and (min-width: 768px) and (orientation: landscape) {
	.textarea {
		font-size: 3.6rem;
		min-height: 30vh;
	}
}

@media only screen and (max-width: 767px) {
	/* CSS rules for tablet portrait */
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
	/* CSS rules for mobile landscape */
}

@media only screen and (max-width: 480px) {
	/* CSS rules for mobile portrait */
}
